version: '3.8'

services:
  librusec_bot: 
    # Имя контейнера
    container_name: librusec-base-bot # Изменено для ясности
    # Собираем образ из Dockerfile в текущей папке
    build: .
    restart: always
    
    env_file:
      - .env
    
    # Команда для запуска
    command: ["python", "Librusec_bot.py"]
    
    volumes:
      - E:/Books/_Lib.rus.ec - Официальная:/app/books:ro 
      - E:/Books/_Lib.rus.ec - Официальная/librusec_local_fb2.inpx:/app/books/librusec_local_fb2.inpx:ro
      - E:/Books/BotsTG/reader_data.db:/app/data/reader_data.db
      - E:/Books/BotsTG/downloads:/app/data/downloads
      - ./log/Log_librusecBase_bot.log:/app/log/Log_librusecBase_bot.log
      - ./data/pending_users_librusec.json:/app/data/pending_users_librusec.json
      - ./data/users_librusec.json:/app/data/users_librusec.json

      


